div#container {
    height: 100vh;
    background-color: red;
    width: 55%;
}

#msg-box {
    height: 100px;
    width: 55%;
    position: absolute;
    bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

form {
    width: 95%;
    height: 90%;
    overflow: hidden;
}

textarea {
    width: 100%;
    height: 100%;
}