* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background-image: url('https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
}

ul {
  margin: 10px 0;
}

li {
  text-align: left;
  font-weight: bold;
}

h1 {
  margin-bottom: 1.5rem;
}

h2 {
  margin-bottom: 1rem;
}

button {
  margin-top: 1rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
}