@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bevan&family=Kalam&family=Sofia+Sans+Condensed:wght@300&display=swap');
*{
  font-family: 'Bevan', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

figure {
  display: flex; 
  align-items: center; 
  width: 64px;
  height: 64px;
  justify-content: center;
  overflow: hidden;
}

p {
  font-family: 'Sofia Sans Condensed', sans-serif;
}

li, span {
  font-family: 'Sofia Sans Condensed', sans-serif;
}

body {
  background-image: url('https://images.pexels.com/photos/7946555/pexels-photo-7946555.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  margin: 0;
  font-family: 'Bevan', serif;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: 'Bevan', source-code-pro, Menlo, Monaco, Consolas,
    monospace;
}

a, button {
  font-family: 'Sofia Sans Condensed', sans-serif;
  padding: 1rem 2.2rem;
  background-color: #91b4c1;
  border: none;
  border-radius: 5px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
  text-decoration: none;
  color: black;
}

a:hover, button:hover {
  font-weight: bold;
  background-color: #f3f3f3;
  cursor: pointer;
  filter: drop-shadow(0 0 5px #91b4c1);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}

input {
  width: 60%;
  text-align: left;
  margin: .5rem 0;
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
}

input:active, input:focus {
  outline: none;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #3599cf #c7c7c7;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: #c7c7c7;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #3599cf;
    border-radius: 10px;
    border: 2px ridge #8682a1;
  }

  @media screen and (max-width: 720px) {
    *::-webkit-scrollbar {
      display: none;
    }
    
  }