@import url('https://fonts.googleapis.com/css2?family=Bevan&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bevan&family=Kalam&family=Sofia+Sans+Condensed:wght@300&display=swap');
*{
  font-family: 'Bevan', serif;
}

p {
  font-family: 'Sofia Sans Condensed', sans-serif;
}

body {
  background-image: url('https://images.pexels.com/photos/7946555/pexels-photo-7946555.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  margin: 0;
  font-family: 'Bevan', serif;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: 'Bevan', source-code-pro, Menlo, Monaco, Consolas,
    monospace;
}

button {
  font-family: 'Sofia Sans Condensed', sans-serif;
  background-color: #91b4c1;
  border: none;
  border-radius: 5px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}

button:hover {
  font-weight: bold;
  background-color: #f3f3f3;
  cursor: pointer;
  filter: drop-shadow(0 0 5px #91b4c1);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
}